i{
   font-size: 100px;
}
.container { 
   width: 1000px;
   padding: 0px;
   background-color: black;
   margin: auto;
   

}
header{
   margin-bottom: 0;
   height: 400px;
   background-color: brown;
   background-image: url('../images/food.jpg');
   background-size: cover;
  background-position: bottom;
   font-size: 2em;
}
img{
   width: auto; 
   height: 150px;
   float: left;
}
nav{
   background-color: #734440;
   height: 150px;
   width: 100%; 
   position: -webkit-sticky;
	position: sticky;
	top: 0;
   

}
main{
   background-color: #695959;
   height: 2000px;
   width: 100%;
}
a{ 
   padding: 15px;
   height: 20px;
   width: 150px;
   text-decoration: none;
   text-align: center;
   font-size: large;
   background-color:#DAC49C;
   color:black;
   float: right;
   clear: right;
}

a:link {
    background-color: #DAC49C;  
  }
  a:hover {
    background-color: rgb(70, 70, 255);
  }
  a:active {
    background-color: whitesmoke;
  }
  video{
     float: left;
  }
  audio{
     float: left;
  }
  footer{
     background-color: #a1998c;
     width: 100%;
     height: 100px ;
     text-align: center;
     padding-top: 50px;
     
  }
.grad{ background-image: linear-gradient(#695959,#a1998c);

}
  .column {
   float: left;
   width: 33.33%;
 }
 .row:after {
   content: "";
   display: table;
   clear: both;
 }
